*
{
    box-sizing: border-box;

    animation-fill-mode: both;
}

html,
body
{
    font-family: 'Roboto Mono', monospace;
    // font-size: 16px;
    font-size: 2vw;

    background-color: #221002;
    color: #dddddd;

    margin: 0;
    padding: 0;
}

section
{
    padding: 3.75rem 1rem;
}

#framerate
{
  position: fixed;
  right: 1rem;
  top: 1rem;
  background: green;
  color: yellow;
  padding: 0.2rem;
}

h1,
.h1
{
    font-size: 3.75rem;
    font-weight: bold;
    line-height: 1.1;

    margin: 1rem auto;

    @include respond-to('small')
    {
        font-size: 3rem;
    }
}

h2,
.h2
{
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.1;

    margin: 1rem auto;

    @include respond-to('small')
    {
        font-size: 3rem;
    }
}

h4,
.h4
{

      font-size: 2rem;
      font-weight: 600;
      line-height: 1.28;
      letter-spacing: 0.01875rem;

      @include respond-to('small')
      {
          font-size: 1.5rem;
      }

}

img,
.icon
{
    display: inline-block;

    max-width: 100%;

    vertical-align: middle;
}
