.layout
{
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    justify-content: space-between;

    &__header
    {
        padding: 0 1rem;
    }

    &__content
    {
        padding: 0 1rem;

        align-self: center;
    }

    &__footer
    {
        padding: 0 1rem;
    }
}
