.hero
{
  &_down &__head
  {
    transform: translateY(30%) rotate(25deg);
  }
  &_down &__body
  {
    transform: translateY(20%);
  }

   &_down &__arm_left
   {
     transform: translateY(10%) rotate(25deg);
   }

  &_down &__arm_right
  {
    transform: translateY(10%) rotate(-25deg);
  }

  &_down &__leg_left
  {
    transform: translateY(20%) rotate(80deg);
  }

  &_down &__leg_right
  {
    transform: translateY(0%);
    z-index: 2;
  }
}
