#arena
{
    position: relative;

    // overflow: hidden;

    width: 45.5rem;
    height: 18rem;

    border: .3125rem solid dimgrey;
    background-image: url('../images/background.jpg');
    background-color: #ddd;
    background-position: center bottom;
    background-size: cover;
     > *
    {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
