.hero
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 4.5rem;
    height: 6.5rem;

    & *
    {
        transition: .2s transform linear;
    }

    *
    {
        position: absolute;

        display: inline-block;
        &:before
        {
            position: absolute;
            top: 0;
            left: 0;

            display: block;

            width: 101%;
            height: 101%;

            content: '';

            border: 1px dashed #000;
            background-repeat: no-repeat;
            background-size: 14.375rem 9.375rem;
        }
    }

    &__head
    {
        z-index: 4;
        top: 0;
        left: .75rem;

        width: 3rem;
        height: 3.5rem;

        transform-origin: 50% 100%;
        &:before
        {
            background-position: -7.5rem 0;
        }
    }

    &__body
    {
        z-index: 2;
        top: 3.25rem;
        left: 1rem;

        width: 2.4375rem;
        height: 1.9375rem;
        &:before
        {
            background-position: -.4375rem -4.875rem;
        }
    }

    &__arm
    {
        z-index: 3;
        top: 3.125rem;

        width: 1.1875rem;
        height: 2.1875rem;

        transform-origin: 60% 25%;
        &:before
        {
            transform: scaleX(-1);

            background-position: -7.0625rem -5.125rem;
        }
        &_left
        {
            z-index: 4;
            left: .3125rem;
        }
        &_right
        {
            z-index: 1;
            left: 2.5rem;
        }
    }

    &__hand
    {
        position: absolute;
        top: 1.8em;
        left: .15rem;

        width: 1.0625rem;
        height: 1rem;

        transform-origin: 20% 20%;
        &:before
        {
            transform: scaleX(-1);

            background-position: -7rem -8.25rem;
        }
    }

    &__leg
    {
        z-index: 1;
        top: 4.75rem;

        width: 1.3125rem;
        height: 1.4375rem;

        transform-origin: 50% 25%;
        &:before
        {
            background-position: -4.625rem -7.875rem;
        }
        &_left
        {
            left: .9375rem;
        }
        &_right
        {
            left: 2.125rem;
        }
    }
}


