@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 0.5s ease-in-out;
          animation: fadeIn 0.5s ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation: fadeOut 0.5s ease-in-out;
          animation: fadeOut 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation: fadeInUp 0.5s ease-in-out;
          animation: fadeInUp 0.5s ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}

.fadeOutUp {
  -webkit-animation: fadeOutUp 0.5s ease-in-out;
          animation: fadeOutUp 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation: fadeInDown 0.5s ease-in-out;
          animation: fadeInDown 0.5s ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
}

.fadeOutDown {
  -webkit-animation: fadeOutDown 0.5s ease-in-out;
          animation: fadeOutDown 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation: fadeInLeft 0.5s ease-in-out;
          animation: fadeInLeft 0.5s ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}

.fadeOutLeft {
  -webkit-animation: fadeOutLeft 0.5s ease-in-out;
          animation: fadeOutLeft 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation: fadeInRight 0.5s ease-in-out;
          animation: fadeInRight 0.5s ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

.fadeOutRight {
  -webkit-animation: fadeOutRight 0.5s ease-in-out;
          animation: fadeOutRight 0.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-size: 2vw;
  background-color: #f9fafb;
  margin: 0;
  padding: 0;
}

section {
  padding: 3.75rem 1rem;
}

h1,
.h1 {
  font-size: 3.75rem;
  font-weight: bold;
  line-height: 1.1;
  margin: 1rem auto;
  color: #000;
}

@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 3rem;
  }
}

h2,
.h2 {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.1;
  margin: 1rem auto;
  color: #000;
}

@media (max-width: 767px) {
  h2,
  .h2 {
    font-size: 3rem;
  }
}

h4,
.h4 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: 0.01875rem;
  color: #000;
}

@media (max-width: 767px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

img,
.icon {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout__header {
  padding: 0 1rem;
}

.layout__content {
  padding: 0 1rem;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.layout__footer {
  padding: 0 1rem;
}

.arena {
  position: relative;
  border: 0.3125rem solid dimgrey;
  width: 45.5rem;
  height: 18rem;
  background-color: #ddd;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
  background-position: center center;
}

.hero {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4.5rem;
  height: 6.5rem;
  outline: 0.0625rem solid green;
  -webkit-transition: 0.5s -webkit-transform ease;
  transition: 0.5s -webkit-transform ease;
  -o-transition: 0.5s transform ease;
  transition: 0.5s transform ease;
  transition: 0.5s transform ease, 0.5s -webkit-transform ease;
}

.hero_boy *:before {
  background-image: url("/images/boy.svg");
}

.hero_girl *:before {
  background-image: url("/images/girl.svg");
}

.hero * {
  position: absolute;
  display: inline-block;
  -webkit-transition: 0.5s -webkit-transform ease;
  transition: 0.5s -webkit-transform ease;
  -o-transition: 0.5s transform ease;
  transition: 0.5s transform ease;
  transition: 0.5s transform ease, 0.5s -webkit-transform ease;
}

.hero *:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  -webkit-background-size: 14.375rem 9.375rem;
          background-size: 14.375rem 9.375rem;
  background-repeat: no-repeat;
}

.hero__head {
  top: 0;
  left: 0.75rem;
  width: 3rem;
  height: 3.5rem;
  z-index: 4;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.hero__head:before {
  background-position: 0 0;
}

.hero__body {
  top: 3.25rem;
  left: 1rem;
  width: 2.4375rem;
  height: 1.9375rem;
  z-index: 2;
}

.hero__body:before {
  background-position: -0.4375rem -4.875rem;
}

.hero__arm {
  top: 3.125rem;
  width: 1.1875rem;
  height: 2.1875rem;
  z-index: 3;
  -webkit-transform-origin: 60% 25%;
      -ms-transform-origin: 60% 25%;
          transform-origin: 60% 25%;
}

.hero__arm:before {
  background-position: -7.0625rem -5.125rem;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.hero__arm_left {
  left: 0.3125rem;
  z-index: 4;
}

.hero__arm_right {
  left: 2.5rem;
  z-index: 1;
}

.hero__hand {
  top: 1.625rem;
  left: 0.0625rem;
  position: absolute;
  width: 1.0625rem;
  height: 1rem;
  -webkit-transform-origin: 20% 20%;
      -ms-transform-origin: 20% 20%;
          transform-origin: 20% 20%;
}

.hero__hand:before {
  background-position: -7rem -8.25rem;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.hero__leg {
  top: 4.75rem;
  width: 1.3125rem;
  height: 1.4375rem;
  -webkit-transform-origin: 50% 25%;
      -ms-transform-origin: 50% 25%;
          transform-origin: 50% 25%;
  z-index: 1;
}

.hero__leg:before {
  background-position: -4.625rem -7.875rem;
}

.hero__leg_left {
  left: 0.9375rem;
}

.hero__leg_right {
  left: 2.125rem;
}

.hero_jump {
  -webkit-transform: translateY(-120%);
      -ms-transform: translateY(-120%);
          transform: translateY(-120%);
}

.hero_jump .hero__head {
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}

.hero_jump .hero__arm_left {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.hero_jump .hero__arm_right {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.hero_jump .hero__leg_left {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hero_jump .hero__leg_right {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn {
  font-weight: bold;
  line-height: 2.06;
  display: inline-block;
  margin: 1rem;
  padding: .75rem 2.25rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0.3rem 0 rgba(100, 100, 100, 0.78);
          box-shadow: 0 0 0.3rem 0 rgba(100, 100, 100, 0.78);
  border: none;
  -webkit-border-radius: .5rem;
          border-radius: .5rem;
}

.btn_red {
  color: #fff;
  background-color: #dc2327;
  -webkit-box-shadow: 0 0 0.3rem 0 rgba(220, 35, 39, 0.78);
          box-shadow: 0 0 0.3rem 0 rgba(220, 35, 39, 0.78);
}

input,
textarea {
  font-size: 1rem;
  display: block;
  width: 100%;
  margin: .75rem;
  padding: 1.125rem;
  border: solid 1px #f0f4f8;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  background: #f9fafb;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}

input:focus::-webkit-input-placeholder {
  -webkit-transition: text-indent .3s ease, opacity .3s ease;
  -o-transition: text-indent .3s ease, opacity .3s ease;
  transition: text-indent .3s ease, opacity .3s ease;
  text-indent: 20rem;
  opacity: 0;
}

input:focus::-moz-placeholder {
  -webkit-transition: text-indent .3s ease, opacity .3s ease;
  -o-transition: text-indent .3s ease, opacity .3s ease;
  transition: text-indent .3s ease, opacity .3s ease;
  text-indent: 20rem;
  opacity: 0;
}

input:focus:-ms-input-placeholder {
  -webkit-transition: text-indent .3s ease, opacity .3s ease;
  -o-transition: text-indent .3s ease, opacity .3s ease;
  transition: text-indent .3s ease, opacity .3s ease;
  text-indent: 20rem;
  opacity: 0;
}

input:focus::-ms-input-placeholder {
  -webkit-transition: text-indent .3s ease, opacity .3s ease;
  -o-transition: text-indent .3s ease, opacity .3s ease;
  transition: text-indent .3s ease, opacity .3s ease;
  text-indent: 20rem;
  opacity: 0;
}

input:focus::placeholder {
  -webkit-transition: text-indent .3s ease, opacity .3s ease;
  -o-transition: text-indent .3s ease, opacity .3s ease;
  transition: text-indent .3s ease, opacity .3s ease;
  text-indent: 20rem;
  opacity: 0;
}

textarea:focus::-webkit-input-placeholder {
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  opacity: 0;
}

textarea:focus::-moz-placeholder {
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  opacity: 0;
}

textarea:focus:-ms-input-placeholder {
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  opacity: 0;
}

textarea:focus::-ms-input-placeholder {
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  opacity: 0;
}

textarea:focus::placeholder {
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  opacity: 0;
}

.from-small {
  display: none;
}

@media (min-width: 767px) {
  .from-small {
    display: block;
  }
}

.from-medium {
  display: none;
}

@media (min-width: 992px) {
  .from-medium {
    display: block;
  }
}

.from-large {
  display: none;
}

@media (min-width: 1200px) {
  .from-large {
    display: block;
  }
}

.to-small {
  display: none;
}

@media (max-width: 767px) {
  .to-small {
    display: block;
  }
}

.to-medium {
  display: none;
}

@media (max-width: 992px) {
  .to-medium {
    display: block;
  }
}

.to-large {
  display: none;
}

@media (max-width: 1200px) {
  .to-large {
    display: block;
  }
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.space-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.zi-1 {
  position: relative;
  z-index: 1;
}

.zi-2 {
  position: relative;
  z-index: 2;
}
