.icon
{
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url('/images/icons.svg');
    background-position: 0 0;
    background-size: 10em;

    &_left
    {
        background-position: 0 0;
    }

    &_right
    {
        background-position: -1em 0;
    }

    &_up
    {
        background-position: -2em 0;
    }

    &_down
    {
        background-position: -3em 0;
    }

    &_hit
    {
        background-position: -5em 0;
    }
}
